/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
  /* padding-top: 10px; */
  /* padding-left: 20px; */
  /* alternativa in basso*/
  padding: 10px 20px;
  /* height: 70px; */
}
header img, header span{
  vertical-align: middle;
}
header span{
  font-size: 30px;  
}

/* MAIN */
main{
  background-color: lightgray;
}
.container{
  width: 50%;
  margin: auto;
  background-color: white;
}
.container.top{
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 5px;
  /* margin-top: 30px; */
}
.button-task, .button-section{
  border-radius: 5px;
}
.button-task{
  background-color: rgb(52, 147, 224);
  color: white;
  border: none;
  padding: 5px 10px;
}
.button-section{
  color: gray;
  border: 1px solid gray;
  padding: 5px 10px;
}









.container.bottom{
  background-color: blue;
}
